body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  color: #333;
}

header {
  background: #0b5ed7;
  color: white;
  padding: 30px;
  text-align: center;
}

.hero {
  padding: 50px;
  text-align: center;
  background: #e7f1ff;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.info div {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
}

footer {
  background: #0b5ed7;
  color: white;
  text-align: center;
  padding: 15px;
}

